

/* Article Section */
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: -50px ;
  }
  
  .midpoint {
    display: flex;
    gap: 50px;
  }
  
  /* Quote Box */
  .quote-box {
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .quote-mark {
    font-size: 40px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .quote-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .quote-author {
    text-align: right;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
  }
  