/* CSS Variables */
:root {
  --primary-bg: rgba(37, 63, 81, 0.07);
  --nav-bg: #333;
  --menu-bg: white;
  --menu-shadow: rgba(32, 32, 32, 0.19);
  --text-color: #0b1d29;
  --hover-color: orange;
  --search-border: #a6a5a5;
  --button-bg-gradient: linear-gradient(to right, #06151f, #183a53);
  --button-hover-opacity: 0.8;
  --button-text-color: white;
  --button-padding: 10px 20px;
  --button-border-radius: 20px;
  --transition: all 0.3s ease;
  
}

/* Header */
header {
  /* background: var(--primary-bg); */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1%;
}

nav.hod ul li {
  display: inline;
  padding: 0 15px;
}

/* Buttons (Shared Styles) */
button,
.loginbutton1,
.contact-us-btn {
  transition: var(--transition);
  padding: var(--button-padding);
  font-weight: bold;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  border: 2px solid transparent;
}

/* Login Button */
.loginbutton1 {
  background: var(--button-bg-gradient);
  color: var(--button-text-color);
  border-radius: 63% 37% / 0% 100%;
}

.loginbutton1:hover {
  opacity: var(--button-hover-opacity);
}

/* Contact Us Button */
.contact-us-btn {
  background-color: transparent;
}





