/* Header */
header {
    background: rgba(37, 63, 81, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1%;
  }
  
  nav.hod ul li {
    display: inline;
    padding: 0 15px;
  }
  
  /* Buttons */
  .loginbutton1, .contact-us-btn {
    transition: all 0.3s ease;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .loginbutton1 {
    background: linear-gradient(to right, #06151f, #183a53);
    color: white;
    border-radius: 63% 37% / 0% 100%;
  }
  
  .loginbutton1:hover {
    opacity: 0.8;
  }
  
  .contact-us-btn {
    background-color:transparent; 
    
  }
  
  /* Sticky Navigation Bar */
  .stecky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #333;
  }
  
  .menu {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    box-shadow: 0 4px 10px rgba(32, 32, 32, 0.19);
    font-weight: bold;
  }
  
  .navi div {
    display: inline-block;
  }
  
  .navi div a {
    color: #0b1d29;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4%;
  }
  
  .navi div a:hover {
    transition: 0.3s ease;
    color: orange;
  }
  
  .search {
    border: 1px solid #a6a5a5;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
  }